$_text_color: #130a1e;
$_title_color: #1e1428;
$_white_text: #ffffff;
$_bg_main_color: #e9daf3;
$_bg_light: #f4eef8;
$_dark_plum: #130a1e;
$_bg_button: #9747ff;
$_bg_hover_button: #9e64c7;
$_bg_disabled: #f4eef8; // gray star
$_bg_border_home: #d8c2e5;
$_bg_border_header: #7d4fa3;
$_gold: #ffc107;
