<section class="footer-section">
  <div class="container">
    <div class="footer-container">
      <h2 class="section-title footer-title">Dream Master-Match Buster</h2>
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer-link" href="./privacyPolicy.html">Privacy Policy</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="./terms&condition.html"
            >Terms and Conditions</a
          >
        </li>
        <li class="footer-item">
          <a class="footer-link" href="./cookiePolicy.html">Cookie Policy</a>
        </li>
        <li class="footer-item">
          <a>All rights reserved, 2025. fusionstormplay.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>
