<section class="section" id="gallery">
  <div class="gallery-section">
    <div class="container">
      <div class="gallery-container">
        <div class="top-border">
          <h2 class="section-title gallery">Gallery</h2>
          <div class="gallery-border-thumb top">
            <div class="gallery-border top"></div>
          </div>
        </div>
        <div class="swiper gallery-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture class="game-picture">
                <source
                  srcset="
                    /img/gallery/avif/mob_1_1x.avif 1x,
                    /img/gallery/avif/mob_1_2x.avif 2x
                  "
                  type="image/avif"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/avif/desk_1_1x.avif 1x,
                    /img/gallery/avif/desk_1_2x.avif 2x
                  "
                  type="image/avif"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/mob_1_1x.webp 1x,
                    /img/gallery/webp/mob_1_2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/desk_1_1x.webp 1x,
                    /img/gallery/webp/desk_1_2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/mob_1_1x.jpg 1x,
                    /img/gallery/jpeg/mob_1_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/desk_1_1x.jpg 1x,
                    /img/gallery/jpeg/desk_1_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1200px)"
                />
                <img
                  src="/img/gallery/jpeg/desk_1_1x.jpg"
                  alt="Gallery photo 1"
                  width="425px"
                  height="730px"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="game-picture">
                <source
                  srcset="
                    /img/gallery/avif/mob_2_1x.avif 1x,
                    /img/gallery/avif/mob_2_2x.avif 2x
                  "
                  type="image/avif"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/avif/desk_2_1x.avif 1x,
                    /img/gallery/avif/desk_2_2x.avif 2x
                  "
                  type="image/avif"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/mob_2_1x.webp 1x,
                    /img/gallery/webp/mob_2_2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/desk_2_1x.webp 1x,
                    /img/gallery/webp/desk_2_2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/mob_2_1x.jpg 1x,
                    /img/gallery/jpeg/mob_2_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/desk_2_1x.jpg 1x,
                    /img/gallery/jpeg/desk_2_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1200px)"
                />
                <img
                  src="/img/gallery/jpeg/desk_2_1x.jpg"
                  alt="Gallery photo 2"
                  width="425px"
                  height="730px"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="game-picture">
                <source
                  srcset="
                    /img/gallery/avif/mob_3_1x.avif 1x,
                    /img/gallery/avif/mob_3_2x.avif 2x
                  "
                  type="image/avif"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/avif/desk_3_1x.avif 1x,
                    /img/gallery/avif/desk_3_2x.avif 2x
                  "
                  type="image/avif"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/mob_3_1x.webp 1x,
                    /img/gallery/webp/mob_3_2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/desk_3_1x.webp 1x,
                    /img/gallery/webp/desk_3_2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/mob_3_1x.jpg 1x,
                    /img/gallery/jpeg/mob_3_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/desk_3_1x.jpg 1x,
                    /img/gallery/jpeg/desk_3_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1200px)"
                />
                <img
                  src="/img/gallery/jpeg/desk_3_1x.jpg"
                  alt="Gallery photo 3"
                  width="425px"
                  height="730px"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="game-picture">
                <source
                  srcset="
                    /img/gallery/avif/mob_4_1x.avif 1x,
                    /img/gallery/avif/mob_4_2x.avif 2x
                  "
                  type="image/avif"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/avif/desk_4_1x.avif 1x,
                    /img/gallery/avif/desk_4_2x.avif 2x
                  "
                  type="image/avif"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/mob_4_1x.webp 1x,
                    /img/gallery/webp/mob_4_2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/desk_4_1x.webp 1x,
                    /img/gallery/webp/desk_4_2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/mob_4_1x.jpg 1x,
                    /img/gallery/jpeg/mob_4_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/desk_4_1x.jpg 1x,
                    /img/gallery/jpeg/desk_4_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1200px)"
                />
                <img
                  src="/img/gallery/jpeg/desk_4_1x.jpg"
                  alt="Gallery photo 4"
                  width="425px"
                  height="730px"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="game-picture">
                <source
                  srcset="
                    /img/gallery/avif/mob_5_1x.avif 1x,
                    /img/gallery/avif/mob_5_2x.avif 2x
                  "
                  type="image/avif"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/avif/desk_5_1x.avif 1x,
                    /img/gallery/avif/desk_5_2x.avif 2x
                  "
                  type="image/avif"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/mob_5_1x.webp 1x,
                    /img/gallery/webp/mob_5_2x.webp 2x
                  "
                  type="image/webp"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/webp/desk_5_1x.webp 1x,
                    /img/gallery/webp/desk_5_2x.webp 2x
                  "
                  type="image/webp"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/mob_5_1x.jpg 1x,
                    /img/gallery/jpeg/mob_5_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1199.9px)"
                />
                <source
                  srcset="
                    /img/gallery/jpeg/desk_5_1x.jpg 1x,
                    /img/gallery/jpeg/desk_5_2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1200px)"
                />
                <img
                  src="/img/gallery/jpeg/desk_5_1x.jpg"
                  alt="Gallery photo 5"
                  width="425px"
                  height="730px"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
        <div class="gallery-border-thumb bottom">
          <div class="gallery-border bottom"></div>
        </div>
        <div class="swiper-btn-wrapper">
          <div class="swiper-button-prev">
            <svg class="swiper-icon" width="34" height="28">
              <use href="/img/sprite.svg#icon-corner-right" />
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="swiper-icon" width="34" height="28">
              <use href="/img/sprite.svg#icon-corner-left" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
