<section class="section" id="game">
  <div class="container">
    <h2 class="game-title">Game</h2>
    <ul class="game-list">
      <li class="game-item">
        <div class="game-thumb">
          <picture class="game-picture">
            <source
              srcset="
                /img/game/avif/mob_1_1x.avif 1x,
                /img/game/avif/mob_1_2x.avif 2x
              "
              type="image/avif"
              media="(max-width: 1199.9px)"
            />
            <source
              srcset="
                /img/game/avif/desk_1_1x.avif 1x,
                /img/game/avif/desk_1_2x.avif 2x
              "
              type="image/avif"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/game/webp/mob_1_1x.webp 1x,
                /img/game/webp/mob_1_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199.9px)"
            />
            <source
              srcset="
                /img/game/webp/desk_1_1x.webp 1x,
                /img/game/webp/desk_1_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/game/jpeg/mob_1_1x.jpg 1x,
                /img/game/jpeg/mob_1_2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 1199.9px)"
            />
            <source
              srcset="
                /img/game/jpeg/desk_1_1x.jpg 1x,
                /img/game/jpeg/desk_1_2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1200px)"
            />
            <img
              src="/img/game/jpeg/desk_1_1x.jpg"
              alt="Dream Master game screenshot 2"
              width="518px"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="game-txt">
          Dream Master-Match Buster is a thrilling match-3 puzzle adventure
          where players dive into a dreamlike world filled with exciting
          challenges! Swap, match, and blast tiles to complete levels, unlock
          magical boosters, and explore beautiful dream realms.
        </p>
      </li>
      <li class="game-item">
        <div class="game-thumb">
          <picture class="game-picture">
            <source
              srcset="
                /img/game/avif/mob_2_1x.avif 1x,
                /img/game/avif/mob_2_2x.avif 2x
              "
              type="image/avif"
              media="(max-width: 1199.9px)"
            />
            <source
              srcset="
                /img/game/avif/desk_2_1x.avif 1x,
                /img/game/avif/desk_2_2x.avif 2x
              "
              type="image/avif"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/game/webp/mob_2_1x.webp 1x,
                /img/game/webp/mob_2_2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1199.9px)"
            />
            <source
              srcset="
                /img/game/webp/desk_2_1x.webp 1x,
                /img/game/webp/desk_2_2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/game/jpeg/mob_2_1x.jpg 1x,
                /img/game/jpeg/mob_2_2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 1199.9px)"
            />
            <source
              srcset="
                /img/game/jpeg/desk_2_1x.jpg 1x,
                /img/game/jpeg/desk_2_2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1200px)"
            />
            <img
              src="/img/game/jpeg/desk_2_1x.jpg"
              alt="Dream Master game screenshot 3"
              width="518px"
              loading="lazy"
            />
          </picture>
        </div>
        <p class="game-txt">
          Each level offers unique puzzles and exciting power-ups, allowing
          players to strategize their moves and overcome obstacles. Whether you
          love relaxing puzzle-solving or competitive challenges, this game
          delivers a perfect mix of fun and excitement.
        </p>
      </li>
    </ul>
    <p class="game-sec-txt">
      Are you ready to become the Dream Master and unlock endless puzzle fun?
    </p>
    <a
      class="link-btn"
      target="_blank"
      rel="noreferrer noopener"
      href="https://play.google.com/store/apps/details?id=com.match.busters.free.gp&hl=en&gl=us"
      >Play Now</a
    >
  </div>
</section>
