<section class="section" id="gameplay">
  <div class="gameplay-container container">
    <div class="section-wrapper">
      <h2 class="gameplay-title section-title">Gameplay</h2>
      <div class="gameplay-wrapper">
        <img
          class="gameplay-img"
          srcset="
            /img/gameplay/jpeg/mob_1x.jpg   320w,
            /img/gameplay/jpeg/mob_2x.jpg   640w,
            /img/gameplay/jpeg/desk_1x.jpg 1200w,
            /img/gameplay/jpeg/desk_2x.jpg 2400w
          "
          sizes="(max-width: 768px) 320px, (min-width: 769px) 1200px"
          src="/img/gameplay/jpeg/mob_1x.jpg  "
          alt="Game"
        />
        <ul class="gameplay-list">
          <li class="gameplay-item">
            <span class="number">1</span>

            <p class="gameplay-description">
              Match & Blast Tiles – Swap and match colorful tiles to solve
              puzzles.
            </p>
          </li>
          <li class="gameplay-item">
            <span class="number">2</span>
            <p class="gameplay-description">
              Use Magic Boosters – Unlock powerful combos and clear tricky
              levels.
            </p>
          </li>
          <li class="gameplay-item">
            <span class="number">3</span>
            <p class="gameplay-description">
              Complete Dream Quests – Overcome obstacles and reach new
              dreamlands.
            </p>
          </li>
          <li class="gameplay-item">
            <span class="number">4</span>
            <p class="gameplay-description">
              Unlock New Themes – Discover beautiful, ever-changing dream
              worlds.
            </p>
          </li>
          <li class="gameplay-item">
            <span class="number">5</span>
            <p class="gameplay-description">
              Collect Stars & Rewards – Earn bonuses by completing levels with
              high scores.
            </p>
          </li>
          <li class="gameplay-item">
            <span class="number">6</span>
            <p class="gameplay-description">
              Join Exciting Events – Special limited-time challenges with
              exclusive prizes.
            </p>
          </li>
          <li class="gameplay-item">
            <a
              class="link-btn"
              target="_blank"
              rel="noreferrer noopener"
              href="https://play.google.com/store/apps/details?id=com.match.busters.free.gp&hl=en&gl=us"
              >Play Now</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
