<section class="home section" id="home">
  <div class="home-box container">
    <div class="title-box">
      <h1 class="title title-first">Dream Master</h1>
      <h2 class="title">Match Buster</h2>
      <p class="text-second">Match, Blast, and Dream Big!</p>
    </div>

    <img
      class="home-img"
      srcset="/img/hero/jpeg/mob_1x.jpg 1x, /img/hero/jpeg/mob_2x.jpg 2x"
      src="/img/hero/jpeg/mob_1x.jpg"
      alt="match"
    />

    <a
      target="_blank"
      class="google-link"
      href="https://play.google.com/store/apps/details?id=com.match.busters.free.gp&hl=en&gl=us"
    >
      <img class="icon-google" src="/img/playstore.png" alt="match" />

      <div>
        <p class="text-link">Get in on</p>
        <p class="text-google">Google Play</p>
      </div></a
    >
  </div>
</section>
