<section class="section" id="howtoplay">
  <div class="how-container container">
    <div class="section-wrapper">
      <h2 class="how-title section-title">How to play?</h2>
      <div class="how-wrapper">
        <img
          class="how-img"
          srcset="
            /img/howToPlay/jpeg/mob_1x.jpg   320w,
            /img/howToPlay/jpeg/mob_2x.jpg   640w,
            /img/howToPlay/jpeg/desk_1x.jpg 1200w,
            /img/howToPlay/jpeg/desk_2x.jpg 2400w
          "
          sizes="(max-width: 768px) 320px, (min-width: 769px) 1200px"
          src="/img/howToPlay/jpeg/mob_1x.jpg"
          alt="Play"
        />
        <ul class="how-list">
          <li class="how-item">
            <span class="number">1</span>

            <p class="how-description">
              Match 3 or More Tiles – Swap adjacent tiles to create matches.
            </p>
          </li>
          <li class="how-item">
            <span class="number">2</span>
            <p class="how-description">
              Use Boosters & Power-ups – Activate powerful effects to clear the
              board.
            </p>
          </li>
          <li class="how-item">
            <span class="number">3</span>
            <p class="how-description">
              Complete Level Goals – Reach the target score or clear obstacles
              to win.
            </p>
          </li>
          <li class="how-item">
            <span class="number">4</span>
            <p class="how-description">
              Earn Stars & Coins – Collect rewards to unlock new levels and
              features.
            </p>
          </li>
          <li class="how-item">
            <span class="number">5</span>
            <p class="how-description">
              Compete with Friends – Play together and see who reaches the top
              first!
            </p>
          </li>
          <li class="how-item">
            <a
              class="link-btn"
              target="_blank"
              rel="noreferrer noopener"
              href="https://play.google.com/store/apps/details?id=com.match.busters.free.gp&hl=en&gl=us"
              >Play Now</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
