<section class="section" id="howtoplay">
  <div class="how-container container">
    <div class="section-wrapper">
      <h2 class="how-title section-title">How to play</h2>
      <div class="how-wrapper">
        <picture>
          <source
            srcset="
              /img/howToPlay/jpeg/desk_1x.jpg  600w,
              /img/howToPlay/jpeg/desk_2x.jpg 1200w
            "
            sizes="(min-width: 1200px) 1200px"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/howToPlay/jpeg/mob_1x.jpg 300w,
              /img/howToPlay/jpeg/mob_2x.jpg 600w
            "
            sizes="(max-width: 1200px) 100vw"
            media="(max-width: 1200px)"
          />
          <img
            class="how-img"
            src="/img/howToPlay/jpeg/mob_1x.jpg"
            alt="Play"
          />
        </picture>

        <ul class="how-list">
          <li class="how-item">
            <span class="number">1</span>

            <p class="how-description">
              Match 3 or More Tiles – Swap adjacent tiles to create matches.
            </p>
          </li>
          <li class="how-item">
            <span class="number">2</span>
            <p class="how-description">
              Use Boosters & Power-ups – Activate powerful effects to clear the
              board.
            </p>
          </li>
          <li class="how-item">
            <span class="number">3</span>
            <p class="how-description">
              Complete Level Goals – Reach the target score or clear obstacles
              to win.
            </p>
          </li>
          <li class="how-item">
            <span class="number">4</span>
            <p class="how-description">
              Earn Stars & Coins – Collect rewards to unlock new levels and
              features.
            </p>
          </li>
          <li class="how-item">
            <span class="number">5</span>
            <p class="how-description">
              Compete with Friends – Play together and see who reaches the top
              first!
            </p>
          </li>
          <li class="how-item">
            <a
              class="link-btn"
              target="_blank"
              rel="noreferrer noopener"
              href="https://play.google.com/store/apps/details?id=com.match.busters.free.gp&hl=en&gl=us"
              >Play Now</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
