<section class="section" id="reviews">
  <div class="container">
    <div class="section-wrapper reviews-container">
      <h2 class="section-title">Reviews</h2>
      <ul class="reviews-list">
        <li class="reviews-item">
          <p class="reviews-txt">
            A fantastic<br />
            match-3 game! Love the dreamy graphics and fun levels.
          </p>
          <div class="review-user-container">
            <div class="review-img-thumb">
              <picture>
                <source
                  srcset="
                    /img/reviews/avif/review_1_1x.avif 1x,
                    /img/reviews/avif/review_1_2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    /img/reviews/webp/review_1_1x.webp 1x,
                    /img/reviews/webp/review_1_2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /img/reviews/jpeg/review_1_1x.jpg 1x,
                    /img/reviews/jpeg/review_1_2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="/img/reviews/jpeg/review_1_1x.jpg"
                  alt="Emily R."
                  width="60px"
                  height="60px"
                  loading="lazy"
                />
              </picture>
            </div>
            <p>Emily R.</p>
          </div>
          <ul class="rating-list">
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="reviews-item">
          <p class="reviews-txt">
            Super addictive and relaxing. The boosters make it even more
            exciting!
          </p>
          <div class="review-user-container">
            <div class="review-img-thumb">
              <picture>
                <source
                  srcset="
                    /img/reviews/avif/review_2_1x.avif 1x,
                    /img/reviews/avif/review_2_2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    /img/reviews/webp/review_2_1x.webp 1x,
                    /img/reviews/webp/review_2_2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /img/reviews/jpeg/review_2_1x.jpg 1x,
                    /img/reviews/jpeg/review_2_2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="/img/reviews/jpeg/review_2_1x.jpg"
                  alt="Jack M."
                  width="60px"
                  height="60px"
                  loading="lazy"
                />
              </picture>
            </div>
            <p>Jack M.</p>
          </div>
          <ul class="rating-list">
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="reviews-item">
          <p class="reviews-txt">
            Best puzzle game I&apos;ve played! Love the challenges and free
            rewards!
          </p>
          <div class="review-user-container">
            <div class="review-img-thumb">
              <picture>
                <source
                  srcset="
                    /img/reviews/avif/review_3_1x.avif 1x,
                    /img/reviews/avif/review_3_2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    /img/reviews/webp/review_3_1x.webp 1x,
                    /img/reviews/webp/review_3_2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /img/reviews/jpeg/review_3_1x.jpg 1x,
                    /img/reviews/jpeg/review_3_2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="/img/reviews/jpeg/review_3_1x.jpg"
                  alt="Sophia T."
                  width="60px"
                  height="60px"
                  loading="lazy"
                />
              </picture>
            </div>
            <p>Sophia T.</p>
          </div>
          <ul class="rating-list">
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="reviews-item">
          <p class="reviews-txt">
            Great for stress relief, and I love the smooth gameplay!
          </p>
          <div class="review-user-container">
            <div class="review-img-thumb">
              <picture>
                <source
                  srcset="
                    /img/reviews/avif/review_4_1x.avif 1x,
                    /img/reviews/avif/review_4_2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    /img/reviews/webp/review_4_1x.webp 1x,
                    /img/reviews/webp/review_4_2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /img/reviews/jpeg/review_4_1x.jpg 1x,
                    /img/reviews/jpeg/review_4_2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="/img/reviews/jpeg/review_4_1x.jpg"
                  alt="Daniel K."
                  width="60px"
                  height="60px"
                  loading="lazy"
                />
              </picture>
            </div>
            <p>Daniel K.</p>
          </div>
          <ul class="rating-list">
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
          </ul>
        </li>
        <li class="reviews-item">
          <p class="reviews-txt">
            Dreamy visuals and fun puzzles. I can&apos;t stop playing!
          </p>
          <div class="review-user-container">
            <div class="review-img-thumb">
              <picture>
                <source
                  srcset="
                    /img/reviews/avif/review_5_1x.avif 1x,
                    /img/reviews/avif/review_5_2x.avif 2x
                  "
                  type="image/avif"
                />
                <source
                  srcset="
                    /img/reviews/webp/review_5_1x.webp 1x,
                    /img/reviews/webp/review_5_2x.webp 2x
                  "
                  type="image/webp"
                />
                <source
                  srcset="
                    /img/reviews/jpeg/review_5_1x.jpg 1x,
                    /img/reviews/jpeg/review_5_2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  src="/img/reviews/jpeg/review_5_1x.jpg"
                  alt="Olivia P."
                  width="60px"
                  height="60px"
                  loading="lazy"
                />
              </picture>
            </div>
            <p>Olivia P.</p>
          </div>
          <ul class="rating-list">
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
            <li>
              <svg class="rating-icon" width="15" height="14">
                <use href="/img/sprite.svg#icon-star" />
              </svg>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
