<section class="section" id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title">Reviews</h2>
    <ul>
      <li>
        <p></p>
        <div>
          <div>
            <picture> </picture>
            <p></p>
          </div>
          <ul>
            <li>
              <svg width="" height="">
                <use href="/img/sprite.svg#icon-close"/>
              </svg>
            </li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
