.advan.container {
  align-items: flex-start;
}

.advan-title.section-title {
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 32px;
  }
}
.advan-wrapper {
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 100%;
  @include media(desktop) {
    flex-direction: row-reverse;
  }
}
.advan-img {
  border-radius: 12px;
  @include media(desktop) {
    width: 402px;
  }
}
.advan-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include media(desktop) {
    gap: 24px;
  }
}
.advan-item {
  display: flex;
  gap: 12px;
  @include media(desktop) {
    align-items: center;
  }
}
.advan-number {
  box-shadow: $_shadow;
  font-family: $_font-family;
  font-weight: 600;
  color: $_white_text;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid $_bg_border_home;
  background-color: $_bg_bright_lavender;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  @include media(desktop) {
    gap: 24px;
  }
}
.advan-description {
  font-family: $_font-family;
  font-size: 16px;
  line-height: 150%;
  color: $_dark_plum;
  @include media(desktop) {
  }
}
