.home.section {
  overflow-x: visible;
}
.home-box.container {
  background: $_bg_gradient;
  padding: 24px 0;
  border: 1px solid $_bg_border_home;
  border-radius: 12px;
  @include media(desktop) {
    margin-top: 84px;
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 555px;
  }
}
.title-box {
  font-family: $_second-family;
  color: $_title_color;
  padding: 0 16px;
  margin-bottom: 24px;
  width: 100%;
  @include media(desktop) {
    padding: 0 72px;
    margin-bottom: 64px;
  }
}
.title-first {
  margin-bottom: 12px;
}
.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 75%;
  @include media(desktop) {
    font-size: 48px;
  }
}
.text-second {
  font-weight: 500;
  font-size: 24px;
  color: $_dark_plum;
  max-width: 200px;
  margin-top: 24px;
  line-height: 100%;
  @include media(desktop) {
    font-weight: 400;
    font-size: 28px;
    line-height: 86%;
    max-width: 100%;
    margin-top: 32px;
  }
}
.home-img {
  border-radius: 7px;
  margin-bottom: 24px;
  @include media(desktop) {
    border-radius: 12px;
    position: absolute;
    right: 72px;
    width: 512px;
    height: 660px;
    margin-bottom: 0;
  }
}
.google-link {
  color: $_white_text;
  line-height: 24px;
  background-color: $_dark_plum;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  border-radius: 12px;
  padding: 5px 12px;
  width: 288px;
  transition: background-color $_transition_time $_transition_func;
  @include media(desktop) {
    margin-left: 72px;
    justify-content: flex-start;
    width: 250px;
  }
}

.google-link:hover {
  background-color: $_bg_hover_button;
}
.icon-google {
  width: 33px;
  height: 40px;
}

.text-link {
  font-family: $_font-family;
  font-size: 20px;
}
.text-google {
  font-weight: 500;
  font-size: 20px;
}
