.how-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include media(desktop) {
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
  }
}
.how-title {
  margin-bottom: 24px;
}
.how-img {
  border-radius: 12px;
  @include media(desktop) {
    width: 386px;
  }
}
.how-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include media(desktop) {
    gap: 24px;
  }
}
.how-item:last-child {
  margin-top: 16px;
  @include media(desktop) {
    margin-top: 0px;
  }
}
.how-item {
  display: flex;
  gap: 12px;
  @include media(desktop) {
    align-items: center;
  }
}

.how-description {
  font-family: $_font-family;
  line-height: 150%;
  color: $_dark_plum;
}
