.policy-section {
  padding: 14px 0 20px 0;
  @include media(desktop) {
    padding: 42px 0 120px 0;
  }
}

.policy .container {
  align-items: start;
}

.link-move-back {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
  color: $_title_color;
  font-family: $_font-family;
  font-size: 16px;
  line-height: 1.5;

  use {
    fill: currentColor;
  }

  @include media(desktop) {
    margin-bottom: 42px;
  }
}

.policy-txt,
.policy-txt-24 {
  color: $_text_color;
  font-family: $_font-family;
  font-size: 16px;
  line-height: 1.5;
}

.policy-txt-24 {
  margin-bottom: 0;
  @include media(desktop) {
    margin-bottom: 24px;
  }
}

.policy-txt.policy-link {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.policy-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section-title.policy {
  margin-bottom: 12px;
  @include media(desktop) {
    margin-bottom: 14px;
  }
}

.policy-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 12px;
  @include media(desktop) {
    margin-bottom: 14px;
  }
}

.policy-sublist {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.policy-list-8 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.policy-sublist-8 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @include media(desktop) {
    gap: 8px;
  }
}

.policy-marked {
  display: flex;
  flex-direction: column;
}
.policy-item-marked {
  padding-left: 24px;
  position: relative;
}

.policy-item-marked::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: 12px;
  left: 10px;
  transform: translateY(-50%);
  background-color: $_text_color;
  border-radius: 50%;
}
