.scroll-up-btn {
  position: fixed;
  z-index: 999;
  bottom: 14px;
  right: 14px;
  width: 60px;
  height: 60px;
  background: $_scroll_to_top_gradient;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0s;

  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  box-shadow: 0px 0px 6px 2px rgba(151, 71, 255, 0.75);
  -webkit-box-shadow: 0px 0px 6px 2px rgba(151, 71, 255, 0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(151, 71, 255, 0.75);
  @include media(desktop) {
    bottom: 37px;
    right: 72px;
    width: 110px;
    height: 110px;
  }
}

.scroll-up {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.scroll-up-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  z-index: 100;
  background-color: $_text_color;
  color: $_bg_button;
  transition: background-color, color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  @include media(desktop) {
    height: calc(100% - 18px);
    width: calc(100% - 18px);
  }
}

.scroll-up-icon {
  display: flex;
  width: 20px;
  height: 22px;
  fill: currentColor;
  filter: drop-shadow(0 0 2px $_bg_button) drop-shadow(0 0 4px $_bg_button)
    drop-shadow(0 0 8px $_bg_button);

  transition: filter 0.3s ease-in-out;
  @include media(desktop) {
    width: 50px;
    height: 54px;
    filter: drop-shadow(0 0 2px $_bg_button) drop-shadow(0 0 4px $_bg_button)
      drop-shadow(0 0 8px $_bg_button);
  }
}

.scroll-up:is(:hover, :focus) .scroll-up-icon {
  filter: drop-shadow(0 0 2px $_bg_button) drop-shadow(0 0 4px $_bg_button)
    drop-shadow(0 0 8px $_bg_button);
}

@keyframes spin {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(10px);
  }
}
