@import 'modern-normalize';
@import './header.scss';
@import './home.scss';
@import './game.scss';
@import './advantages.scss';
@import './gameplay.scss';
@import './reviews.scss';
@import './how.scss';
@import './gallery.scss';
@import './faq.scss';
@import './footer.scss';

:root {
  color: $_text_color;
  background-color: $_bg_main_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  font-family: $_second-family;
}

.container {
  padding: 0 16px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media(desktop) {
    padding: 0 24px;
  }
}

.section {
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  @include media(desktop) {
    padding: 70px 0;
  }
}

.link-btn {
  display: block;
  max-width: 332px;
  width: 100%;
  padding: 19px 0;
  text-align: center;
  color: $_white_text;
  font-family: $_second-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.143;
  border-radius: 12px;
  border: 1px solid $_bg_border_home;
  background-color: $_bg_button;
  transition: background-color $_transition_time $_transition_func;
}

.link-btn:is(:hover, :focus) {
  background-color: $_bg_hover_button;
}

.section-title {
  font-family: $_second-family;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: $_title_color;
  @include media(desktop) {
    font-size: 32px;
    line-height: 0.75;
  }
}

.section-wrapper {
  padding: 24px 12px;
  min-width: 100%;
  border-radius: 12px;
  border: 1px solid $_bg_border_home;
  background: $_section_gradient;
  box-shadow: $_shadow;
  @include media(desktop) {
    padding: 24px 24px;
  }
}

@include media(desktop) {
  .container {
    max-width: 1200px;
    padding: 0 72px;
  }
}
