@import 'modern-normalize';
@import './header.scss';
@import './home.scss';
@import './game.scss';
@import './advantages.scss';
@import './gameplay.scss';
@import './reviews.scss';
@import './how.scss';
@import './gallery.scss';
@import './faq.scss';
@import './footer.scss';

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: $_text_color;
  background-color: $_bg_main_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  font-family: $_second-family;
}

.container {
  padding: 24px 0;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

@include media(desktop) {
  .container {
    width: 1200px;
  }
}
