@import 'modern-normalize';
@import './header.scss';
@import './home.scss';
@import './game.scss';
@import './advantages.scss';
@import './gameplay.scss';
@import './reviews.scss';
@import './how.scss';
@import './gallery.scss';
@import './faq.scss';
@import './footer.scss';

:root {
  color: $_text_color;
  background-color: $_bg_main_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  font-family: $_second-family;
}

.container {
  padding: 0 16px;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media(desktop) {
    padding: 0 24px;
  }
}

.section {
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  @include media(desktop) {
    padding: 70px 0;
  }
}

.link-btn {
  display: block;
  max-width: 332px;
  width: 100%;
  padding: 19px 0;
  text-align: center;
  color: $_white_text;
  font-family: $_second-family;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.143;
  border-radius: 12px;
  border: 1px solid $_bg_border_home;
  background-color: $_bg_button;
  transition: background-color $_transition_time $_transition_func;
}

.link-btn:is(:hover, :focus) {
  background-color: $_bg_hover_button;
}

.section-title {
  font-family: $_second-family;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: $_title_color;
  @include media(desktop) {
    font-size: 32px;
    line-height: 0.75;
  }
}

.section-wrapper {
  padding: 24px 12px;
  min-width: 100%;
  border-radius: 12px;
  border: 1px solid $_bg_border_home;
  background: $_section_gradient;
  box-shadow: $_shadow;
  @include media(desktop) {
    padding: 24px 24px;
  }
}

@include media(desktop) {
  .container {
    max-width: 1200px;
    padding: 0 72px;
  }
}

.policy-section {
  padding: 14px 0 20px 0;
  @include media(desktop) {
    padding: 42px 0 94px 0;
  }
}

.policy .container {
  align-items: start;
}

.btn-move-back {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;

  use {
    fill: currentColor;
  }

  @include media(desktop) {
    margin-bottom: 42px;
  }
}

.link-move-back {
  color: $_title_color;
  font-family: $_font-family;
  font-size: 16px;
  line-height: 1.5;
}

.policy-txt,
.policy-txt-72 {
  color: $_text_color;
  font-family: $_font-family;
}

.policy-txt-72 {
  height: auto;
  @include media(desktop) {
    height: 72px;
  }
}

.policy-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.section-title.policy {
  margin-bottom: 12px;
  @include media(desktop) {
    margin-bottom: 14px;
  }
}

.policy-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 12px;
  @include media(desktop) {
    margin-bottom: 14px;
  }
}

.policy-sublist {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.policy-marked {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  gap: 4px;
}
.policy-item-marked {
  padding-left: 24px;
  position: relative;
}

.policy-item-marked::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: $_text_color;
  border-radius: 50%;
}
